
@impport "https://unpkg.com/ress/dist/ress.min.css"; 

* {
    box-sizing: border-box;
}

body  {
    font-size: 16px;
    line-height: 1;
    counter-reset: num 0;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 70%;
    height: 100%;
    background: #e24d24;
}
main {
    padding: 100px 0;
}

section {
    width: 1000px;
    margin: auto;
    position: relative;
    display: flex;
    padding-left: 120px;
}

section + section {
    margin-top: 80px;
}

h2 {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    padding-top: 56px;
}
h2::before {
    font-family: serif;
    position: absolute;
    top: 0;
    font-size: 48px;
    content: counter(num, decimal-leading-zero);
    counter-increment: num 1;
}

h2 span {
    writing-mode: vertical-rl;
    padding-left: .5em;
    padding-left: rotate(180deg); /*degは角度*/
    transform: 2px solid #615f5e;
    letter-spacing: .1em;
}

h2 span.jp {
 text-orientation: sideways-right;
}

section img {
    width: 400px;
}

.text {
    width: 48%;
    margin-left: auto;
}

.item-copy {
    color: white;
    font-size: 1.5em;
    margin-bottom: 1em;
    line-height: 1.8;
}

.item-copy span {
    background: #615f5e;
    padding: 4px;
}

.desc {
    line-height: 1.6;
}

footer {
    background: #615f5e;
    color: white;
    padding: 80px 0;
    text-align: center;
}

footer p {
    width: 600px;
    margin: auto;
    line-height: 1.6;
}

footer .foot-copy {
    font-size: 2em;
    margin-bottom: 1em;
}

footer .logo {
    display: block;
    margin: 40px auto;
    width: 1500px;
height: 400px;
}

footer .copyright {
    font-size: .8em;
}